<h2>Stats</h2>
<p>
    <strong>{{distance latestMonthStats.distance 1}} km</strong> in
    <strong>{{time latestMonthStats.time }}</strong> during {{ latestMonth }}
</p>
<p>
    <strong>{{distance latestYearStats.distance}} km</strong> in
    <strong>{{time latestYearStats.time }}</strong> during {{ latestYear }}
</p>
<h2>Latest Tracks</h2>
<div class="latest-tracks">
</div>
<a href="#all-tracks">All Tracks</a>
